@font-face {
    font-family: 'FiraCode Nerd Font';
    src: local('FiraCode Nerd Font'),
         url('./fonts/FiraCodeNerdFont-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
a {
    text-decoration: none;
}


button {
    font-weight: bold;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "FiraCode Nerd Font", Helvetica, sans-serif;
}

.pageTitle {
    margin-bottom: 10px;
}
.pageDescription {
    margin-top: 0;
    font-style: italic;
    font-size: small;
    text-align: center;
}

.calculator {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 5px;
    
    margin: 20px 0px;
    padding: 15px;

    height: 50vh;
    aspect-ratio: 0.8;
    gap: 15px;
}

/* Section Header */
.header {
    display: flex;
    justify-content: space-between;

    flex:1 1 0
}

.title {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    line-height: 0.8;
    margin: 5px;
    align-items: center;
    gap: 6px;
}
.brand {
    font-weight: bold;
}
.model {
    font-size: x-small;
}

.solarPannel {
    display: flex;
    border: 2px solid gray;
    flex: 1 0 0;
    background-color: azure;
    border-radius: 3px;
    justify-content: space-evenly;
}

.pannelSection {
    border: 0.5px solid gray;
}

/* Section Header ends */

.screen {
    border: 2px solid gray;
    flex:2 1 0;

    text-align: right;
    font-size: xx-large;
    
    padding: 3%;
}

/* Section Buttons */
.buttons {
    flex: 6 0 0;
    display: flex;
    gap: 10px;

}

.numbers{
    flex:3 1 0;
    display: flex;
    flex-wrap: wrap;
}

.numbers button{
    width: 33.3%;
    flex: auto;
}

.operators {
    flex: 2 1 0;
    display: flex;
    flex-wrap: wrap;
}

.operators button {
    width: 50%;

}